.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #76d2e5;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #498af2;
  color: white;
}

body {
  background-color:#cfeaef;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.text-box {
  border: 1px solid white;
  border-radius: 5px;
  background-color: azure;
  padding: 10px;
  text-align: center;
  display: inline-block;
  margin: 0.5rem auto;
}

.email-text-box {
  border: 2px solid white;
  border-radius: 5px;
  background-color: azure;
  padding: 10px;
  text-align: center;
  display: inline-block;
  margin: 0.5rem auto;
}



.contact-list {
  list-style-type: disc;
  display: inline-block;
  text-align: left;
}